.carousel__icon{
    display: none;
    fill: white !important;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    width: 100% !important;
    height: 100% !important;
}

.carousel__next, .carousel__prev{
    width: 60px !important;
    height: 60px !important;
}

.carousel__slides {
    display: flex;
    justify-content: center;
}
  
.carousel__item {
    flex: 0 0 90%; 
    margin: 0 10px;
}
  
.carousel__item .media {
    width: 100% !important; 
    height: auto;
    max-width: 90% !important;
}

.carousel__viewport{
    margin: 30px 0px;
    overflow: visible !important;
}

@media (min-width: 641px) {
    .carousel__icon{
        display: flex;
    }
}