svg {
  width: 100vw;
  left: -20vw;
}

.section-welcome {
  top: 0;
  height: 100vh;
  min-height: 640px;
  position: relative;
}

.welcome-text-namegroup {
  position: relative;
  max-height: 400px;
  height: 50%;
}

.welcome-text-name {
  margin-left: 20%;
  height: fit-content;
  color: white;
  position: absolute;
}

.welcome-ryan {
  font-size: 30vw;
  line-height: 0.8;
  z-index: 1;
  margin-top: 100px;
}

.welcome-vankriekinge {
  font-size: 14vw;
  line-height: 1;
  z-index: 1;
}

.name-svg {
  position: absolute;
  top: 20px;
  z-index: -99;
  width: 100vw;
  height: 50%;
  overflow: visible;
  left: -2rem;
}

.welcome-text-career {
  height: 15vh;
  width: 100vw;
  position: relative;
  left: 0;
  top: 20px;
}

.welcome-text-jobtitle {
  text-align: center;
  height: fit-content;
}

.function-svg {
  position: absolute;
  margin-top: 100px;
  z-index: -99;
  width: 100vw;
  height: 200%;
  overflow: visible;
  left: 0;
}

.jobtitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
  position: absolute;
  margin-top: 20px;
  top: 80%;
  color: white;
  margin: auto;
  text-align: center;
  margin-left: 10vw;
}

.section-about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-image-group {
  width: 100%;
  position: relative;
  justify-content: center;
}

.about-me-image-group img {
  aspect-ratio: 1/1;
  width: 50%;
  height: auto;
  box-sizing: border-box;
  margin-top: 40px;
  object-fit: cover;
  border: white solid 20px;
}

.about-me-description p {
  margin-bottom: 40px;
}

.about-me-shape {
  background-color: #57378b;
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 20%;
  width: 100vw;
  height: 50%;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.about-me-image-container {
  display: flex;
  justify-content: center;
}

.section-works{
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
}

.section-works *{
  margin: auto;
}

.works-container{
  width: 100%;
  margin-bottom: 20px;
}

.works-container h2{
  margin: auto;
  text-align: center !important;
}

@media (min-width: 375px) {
  .name-svg {
    height: 85%;
  }
  .jobtitle {
    font-size: 40px;
  }
}

@media (min-width: 641px) {
  .name-svg {
    height: 100%;
  }
  .welcome-ryan {
    font-size: 1400%;
  }

  .welcome-vankriekinge {
    font-size: 600%;
  }
  .jobtitle {
    font-size: 65px;
    margin-top: 15px;
  }
}

@media (min-width: 1025px) {
  .name-svg {
    height: 120%;
    left: -10vw;
  }
  .welcome-text-name {
    margin-left: 30%;
  }
  .welcome-ryan {
    font-size: 1800%;
  }

  .welcome-vankriekinge {
    font-size: 800%;
  }
  .jobtitle {
    margin-top: 20px;
    font-size: 80px;
  }
  .section-about-me {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .about-me-description {
    width: 58%;
  }
  .about-me-image-group {
    width: 38%;
  }
  .about-me-image-group img {
    width: 100%;
    height: 80%;
  }
}
