@import './base.css';
@import './nav.css';
@import './home.css';
@import './pagetransitions.css';
@import './carousel.css';
@import './footer.css';


#app{
  height: fit-content;
}

main{
  height: fit-content;
  min-height: 70vh;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 10vw;
  font-weight: normal;
  overflow: hidden;
}

a {
  padding: 3px;
}

.outer-wrapper {
  width: 100%;
  height: fit-content;
}

header {
  width: 100%;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  text-align: center;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

h3{
  font-family: 'Agency FB', sans-serif;
  font-size: 25px;
  color: #B9A2CE;
}

p {
  font-size: 16px;
  font-family: 'Agency FB', sans-serif;
  text-align: center;
}

.button-small {
  background-color: #57378b;
  color: white;
  font-family: 'Agency FB', sans-serif;
  font-size: 25px;
  border: none;
  padding: 12px;
  width: 160px;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
  text-align: left;
  display: block;
  margin: auto;
  cursor: pointer;
}

.button-small:hover {
  background-color: #8a75ad;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 641px) {
  #app {
    padding: 2rem 6rem;
  }

  .wrapper {
    max-width: 1000px;
  }
}

@media (min-width: 1025px) {
  .button-small {
    margin: 0px;
  }
  p {
    text-align: left;
  }
  .title {
    text-align: left;
  }
  .outer-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .wrapper {
    width: 1000px;
  }
}
