nav {
  color: white;
}

nav a {
  font-family: 'Agency FB', sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 0px;
  list-style: none;
  margin-top: 15px;
  padding: 10px 10px;
  padding-right: 2rem;
  position: fixed;
  top: 30;
  right: 2rem;
  width: 100%;
  z-index: 1000;
}

.mobile-nav li {
  display: flex;
  justify-content: end;
}

.global-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: block;
}

.desktop-nav {
  display: flex;
  justify-content: end;
  gap: 30px;
  width: 100%;
  display: none;
}

.desktop-nav,
ul {
  margin-left: auto;
}

.desktop-nav,
li {
  list-style: none;
}

.desktop-nav a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

/* Screens without hamburger menu */
@media (min-width: 641px) {
  .mobile-nav {
    display: none;
    background-size: 100% 0.1em;
  }

  .desktop-nav {
    display: flex;
  }

  .desktop-nav a:hover::before {
    transform: scaleX(1);
  }
}
